body {
    font-family: 'Roboto', sans-serif;
    background-color:  #b6b6b6;
    color: #fff;
}

a {
    text-decoration: none;
    color: #c8815f;
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.name input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 15px;
}

.email input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #ffffff;
    color: #000000;
}

.senha input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 15px;
}

.entrar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #c8815f;
    color: #ffffff;
}

input::placeholder {
    color: #b6b6b6;
}

h1 {
    color: #000000;
}

.caixa {
    margin-top: 65px;
}

.caixa img {
    width: 115px;
}

input:focus {
    outline: none;
}